<h1>Editing Book</h1>

<<<<<<< HEAD
<%= render 'form' %>
=======
<%= render 'form', book: @book %>
>>>>>>> 69a21e41517a5c85387a5f133e9fed41dcf36da2

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
